.navbar {
    background-color: bisque;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.color {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

#color-input {
    height: 40px;
  }

#button-style {
    padding: 5px;
    background-color: aqua;
    border-radius: 10px;
    border-color: aqua;
}

#size-input {
    width: 70px;
    height: 40px;
    padding: 10px;
    margin: 5px;
  }

  
canvas {
    display: flex;
    width: 1000px;
    height: 480px;
    margin-top: 5px;
    border: 1px solid black;
}

label{
    margin-right: 10px;
    margin-left: 10px;
}

.midsection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.saveLoad {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}